body {
  letter-spacing: 1px; }

a {
  color: #e07c07; }

p {
  color: #222; }

.color_element {
  color: #e07c07; }

.color_bg {
  background-color: #e07c07; }

.color_border {
  border-color: #e07c07; }

.bg_light {
  background-color: #fff; }

.header_bg {
  background-color: #592d06; }

.logo_container svg path {
  fill: #e07c07; }

.header_menu a {
  color: #592d06; }
.header_menu a:hover {
  color: #e07c07; }
.header_menu li {
  background: url(../../img/div_line.png) no-repeat right; }

.toggle_mnu {
  background-color: #e07c07; }

.top_mnu a {
  color: #fff; }
.top_mnu a:hover {
  color: #e07c07; }

.title_text h1,
.title_text p {
  color: #fff; }

.header_buttons a {
  border: 1px solid #592d06;
  background-color: #fff;
  color: #592d06; }
.header_buttons a:hover {
  background-color: #592d06;
  color: #fff; }

section h2 {
  color: #592d06; }
section h3 {
  color: #e07c07;
  letter-spacing: 2px; }
section h4 {
  letter-spacing: 2px; }
section .theme_color {
  color: #e07c07; }
section li {
  color: #222; }
section .choice {
  color: #e07c07; }
  section .choice a {
    color: #fbf31e; }

.social a {
  color: #e07c07; }
.social a:hover {
  color: #ef9e41; }

.articles,
.documents {
  background-color: #ef9e41; }
  .articles h2,
  .documents h2 {
    color: #323231; }
  .articles .article,
  .documents .article {
    background-color: #fff; }
    .articles .article a,
    .documents .article a {
      color: #592d06;
      letter-spacing: 2px; }
    .articles .article a:hover,
    .documents .article a:hover {
      color: #e07c07; }

.articles .art_btn {
  color: #592d06;
  background-color: #fff; }

.price,
.gallery {
  background-color: #323231; }
  .price h2,
  .price .describe p,
  .price table,
  .gallery h2,
  .gallery .describe p,
  .gallery table {
    color: #fff; }
  .price .describe::after,
  .gallery .describe::after {
    background-color: #fff; }
  .price th,
  .gallery th {
    color: #e07c07; }

.first_col {
  color: #e07c07; }

.price span {
  color: #e07c07; }
.price button {
  background-color: #e07c07;
  color: #fff; }
.price button:hover {
  background-color: #ef9e41; }

.myself_icon i {
  color: #e07c07; }

.about_massage {
  background-color: #fff; }
  .about_massage h3 {
    background-color: #ef9e41;
    color: #fff; }
  .about_massage button, .about_massage .price_button {
    background-color: #e07c07;
    color: #fff; }
  .about_massage button:hover, .about_massage .price_button:hover {
    background-color: #ef9e41; }

.massage_details a {
  color: #592d06; }

.gallery ul li {
  letter-spacing: 1.5px; }
.gallery ul li.active {
  color: #ef9e41; }

.item_container h3 {
  color: #ef9e41;
  letter-spacing: 1.5px; }
.item_container a {
  color: #ef9e41;
  border: 1px solid #ef9e41; }

.port_descr {
  background-color: #000; }
  .port_descr h3,
  .port_descr p {
    color: #ef9e41; }

.contact_box .contact_icon {
  color: #e07c07; }
.contact_box h3 {
  letter-spacing: 1.5px; }

.contacts button {
  background-color: #e07c07;
  color: #fff; }
.contacts button:hover {
  background-color: #ef9e41; }

.text-danger li {
  color: red; }

form input:focus,
form textarea:focus {
  box-shadow: 0 0 8px rgba(239, 158, 65, 0.8); }
form input,
form textarea {
  border: 1px solid #e07c07;
  letter-spacing: 2px; }

.form_item,
.form-group {
  color: #222; }

.feedback_cont h4 {
  color: #222; }

.jcarousel-control-prev,
.jcarousel-control-next {
  color: #222; }

.feedback button {
  background-color: #e07c07;
  color: #fff; }
.feedback button:hover {
  background-color: #ef9e41; }

.price th {
  color: #e07c07; }

.article_body {
  background-color: #fff; }
  .article_body h1 {
    color: #592d06; }

.articles_text {
  background-color: #ef9e41; }

/*# sourceMappingURL=orange.css.map */
